In [3]:
%cd "/content/drive/My Drive/digikala/q4"

/content/drive/My Drive/digikala/q4

In [7]:
from fastai.imports import *
from fastai.vision import *
from fastai.metrics import error_rate

In [36]:
data = ImageDataBunch.from_folder("data/train", ds_tfms=get_transforms(), size=224, valid_pct = 0.20)
data.classes

['black',
 'blue',
 'brown',
 'green',
 'grey',
 'orange',
 'pink',
 'purple',
 'red',
 'silver',
 'white',
 'yellow']

In [37]:
learn = cnn_learner(data, models.resnet50,pretrained=True, metrics=accuracy)

In [38]:
learn.fit_one_cycle(20)

In [39]:
il = ImageList.from_folder("/content/drive/My Drive/digikala/q4/data/test")

il

ImageList (2673 items)
Image (3, 224, 224),Image (3, 224, 224),Image (3, 224, 224),Image (3, 224, 224),Image (3, 224, 224)
Path: /content/drive/My Drive/digikala/q4/data/test

In [40]:
preds = []
count = 0
for img in il:
    prediction = learn.predict(img)
    preds.append(str(prediction[0]))
    count += 1
    if count % 100 == 0 :
        print(count)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600

In [41]:
preds[:10]

['grey',
 'brown',
 'white',
 'brown',
 'pink',
 'black',
 'white',
 'grey',
 'red',
 'grey']

In [42]:
categories =  {'pink' : 1 , 'purple' : 2 , 'yellow' : 3 , 'orange' : 4 , 'white' : 5 , 'silver' : 6 , 'grey' : 7 , 'black' : 8 , 'red' : 9 , 'brown' : 10 , 'green' : 11 , 'blue' : 12 }

In [43]:
submission = pd.DataFrame({"file_name": os.listdir('data/test'), "color_id": [ categories[i] for i in preds]})

In [44]:
submission.head()

       file_name  color_id
0  117023205.jpg         7
1  105518673.jpg        10
2  117078889.jpg         5
3  115464528.jpg        10
4  117091570.jpg         1

In [45]:
submission.to_csv('output_q4_11.csv',index=False)